.side-content
  .side-header
    .side-header__box
      %p.side-header__box--name
        kouhei
      %ul.side-header__box--navi
        %li.side-header__box--navi
          %a.fa.fa-edit(href="#")
        %li.side-header__box--navi
          %a.fa.fa-cog(href="#")
  .groups
    %a(href="#")
      .group
        %p.group__name
          testgroup1
        %p.group__message
          testmessage1
    %a(href="#")
      .group
        %p.group__name
          testgroup2
        %p.group__message
          testmessages2
