$side_header_bg:     #253141;
$side_content_bg:    #2f3e51;
$font_color_white:   #ffffff;
$font_color_balck:   #333333;
$font_color_gray:    #999999;
$main_font_color:    #434a54;
$main_content_bg:    #fafafa;
$border_color:       #eeeeee;
$main_sub_color:     #38AEF0;
$form_bg:            #ddd;
$white:              #fff;
$side_blue_dark:     #253141;
$side_blue_light:    #2f3e51;
$light_blue:         #38AEF0;
$light_gray:         #999;
$black:              #434a54;
$alert_orange:       #F35500;